{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PVPcalculator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'calc/style.css' %}">
    <link rel="stylesheet" href="{% static 'pvp/style.css' %}">
</head>
<body>
    <div id="cont-wrapper">
        {% block cont %}{% endblock %}
    </div>
    <div id="calc-wrapper">
        {% block calc %}{% endblock %}
    </div>
    <script src="{% static 'calc/script.js' %}"></script>
</body>
</html>