{% extends '../calc/main.html' %}

{% block cont %}
<div>
    <input id="nickview" value="YourNick">
    <button onclick="play_red('{{ max_id }}')" class="new-game">New</button>
    <h2 id="announcer">Avaible games</h2>
    <ul class="game-list">
        {% for game in games_list %}
            <li>
                <span>{{ game.nick_red_player }}</span>
                <button onclick="play_green('{{ game.id }}')">New</button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}